# Python String Functons

## capitalize()

In [16]:
txt = "hello, welcome to python tutorial."
x = txt.capitalize()
print (x)

Hello, welcome to python tutorial.

In [15]:
txt = "45, how are YOU."
x = txt.capitalize()
print (x)

45, how are you.

In [13]:
txt = "how are YOU BroTHer."
x = txt.capitalize()
print (x)

How are you brother.

## casefold()

In [17]:
txt = "this is my HoME"
x = txt.casefold()
print(x)

this is my home

In [18]:
str_1 = 'THis IS my book'
str_1.casefold()

'this is my book'

In [19]:
str_1 = 'THis IS my book'
a=str_1.casefold()

In [20]:
a

'this is my book'

In [21]:
a[3]

's'

## center()

In [36]:
txt = "Vishnu"

x = txt.center(20)

print(x)
print(len(x))

       Vishnu
20

In [38]:
txt = "Kumar"

x = txt.center(16, "*")

print(x)
print(len(x))

*****Kumar******
16

## count()

In [ ]:
# string.count(value, start, end)

In [40]:
txt = "I m from Mumbai, my class is located in Andheri."

x = txt.count("m")

print(x)

4

In [46]:
txt = "My name is Akash, my frient is from Jaipur, my class is located in Andheri."

x = txt.count("is")

print(x)

3
75

In [57]:
txt = "My name is Akash, my frient is from Jaipur, my class is located in Andheri."

x = txt.count("is",15,60)

print(x)

2